<div class="top">
  <div
    class="left"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="1vw"
  >
    <div class="menuFive" [class.isOpen]="isOpen" (click)="toggle(true)">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h2 class="heading">Mozart</h2>
  </div>
</div>
<mat-sidenav-container class="sidenav">
  <mat-sidenav
    [(opened)]="isOpen"
    [mode]="mobile ? 'over' : 'side'"
    class="side"
    #sidenav
  >
    <mat-nav-list fxLayout="column">
      <a
        *ngFor="let link of routes"
        class="link"
        mat-list-item
        (click)="toggle(false)"
        [routerLink]="link.link"
        fxLayout="column"
        fxLayoutAlign="center start"
        >{{ link.name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
