h2 {
  width: 90%;
  margin: 10px 5%;
}
form {
  margin: 5px 5%;
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

table,
h3 {
  width: 90%;
  margin: 10px 5%;
}

.page {
  margin-right: 5%;
  margin-left: 5%;
}

.filter {
  margin-left: 5%;
  margin-top: 2vh;
  width: 90%;
}
