/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: "berry";
  src: url("/assets/fonts/Berry Rotunda.ttf");
}

.loader {
  margin-top: 3vh;
}

.loader img {
  width: 50vw;
  height: auto;
}
